<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
            href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>

        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Insight Studio</a>

        <div>
            <button md-button [mdMenuTriggerFor]="menu">New Post</button>
            <button md-button routerLinkActive="active" [routerLink]="['/card']">Camp</button>
            <button md-button>Dashboard</button>

            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="btndw_click()">나의업무</button>
                <button md-menu-item (click)="btn01_click()">할일작성</button>
                <button md-menu-item>워크플로 작성</button>
            </md-menu>

        </div>

    </div>
</div>

<router-outlet></router-outlet>