<div class="container-fluid">
  <h1>My Camp List</h1>
  <p>Wow !!! Let's Go</p>
  <div class="row">

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp02.png" style="width: 100px">

        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp03.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp04.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>



    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp06.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp07.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp08.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp09.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp10.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>

    <div class="col-sm-2" style="margin-top: 10px; width:300px">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/img/camp/camp05.png" style="width: 100px">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>



  </div>
</div>