<div style="width:100%; height:100%">
    <div class="inner">

        <md-tab-group>

            <md-tab label="Login">

                <md-card class="example-card">
                    <img md-card-image src="../../assets/img/pexels-photo-314040.jpeg">
                    <md-input-container class="example-full-width" style="width:300px;">
                        <input mdInput placeholder="Email">
                    </md-input-container>
                    <br>
                    <md-input-container class="example-full-width" style="width:300px;">
                        <input mdInput placeholder="Password" type="password">
                    </md-input-container>

                    <md-card-actions>
                        <button md-button (click)="login_click()" >LogIn</button>
                    </md-card-actions>
                </md-card>

            </md-tab>

            <md-tab label="Create Account">
                <md-card class="example-card">
                    <img md-card-image src="../../assets/img/pexels-photo-38196.jpeg">

                    <md-input-container class="example-full-width" style="width:300px;">
                        <input mdInput placeholder="Name">
                    </md-input-container>
                    <br>
                    <md-input-container class="example-full-width" style="width:300px;">
                        <input mdInput placeholder="Email" >
                    </md-input-container>
                    <br>
                    <md-input-container class="example-full-width" style="width:300px;">
                        <input mdInput placeholder="Password" type="password">
                    </md-input-container>
                    <br>

                    <md-card-actions>
                        <button md-button (click)="create_click()"  >Create</button>
                    </md-card-actions>
                </md-card>

            </md-tab>
        </md-tab-group>

    </div>
</div>